@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, white 1px, transparent 1px) 0 0;
    background-size: 50px 50px; /* Adjust the size of the dots */
    pointer-events: none; /* Prevent the grid from interfering with other elements */
  }
